{% extends "base.html" %}
{% block title %}Weatherify{% endblock %}
{% block content %}



<div class="media-body">
    <h1>Weatherify</h1>
    <div class="parent">
        <a href="/login" class="button"><div class='p'>FIND YOUR PLAYLIST </div></a>
    </div>

  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');
  .media-body {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    
  }
  h1 { 
    font-family: 'Inter', sans-serif;
font-size: 50px;
font-weight: 900;

text-align: center;

 }
  .p { 
font-family: 'Inter', sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;

color: black;
 }

 .parent {
   display: flex;
   align-items: center;
  justify-content: center;

 }
 .button {
     background: #C4C4C4;
     font-family: 'Inter', sans-serif;
font-size: 15px;
font-weight: 300;
height: 30px;

width: 200px;
border-radius: 0px;
color: black;

;
 }
</style>
  
{% endblock %}